/*
 *    Hide Tabs on Topbar
 */
#TabsToolbar {
    visibility: collapse;
}

#titlebar {
    visibility: collapse;
}

/*
*   NOTE: If you hide the sidebar header it can get tricky to switch between diffrent addons sidebars.
*//*
#sidebar-header {
    visibility: collapse !important;
} 
*/

/*
*    Show Bookmarks only in new Tab
*/
#nav-bar:not(:focus-within) + #PersonalToolbar:not(:hover):not(:focus-within):not([customizing]) { visibility: collapse; }
